<div class="duoshuo">
	<!-- 多说评论框 start -->
	<div class="ds-thread" data-thread-key="<%=key%>" data-title="<%=title%>" data-url="<%=url%>"></div>
	<!-- 多说评论框 end -->
	<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
	<link rel="stylesheet" href="/css/duoshuo-ua.css">

	<!-- 第1部分：在embed.js之前定义duoshuoQuery和加载duoshuo-ua
	两者顺序可以交换-->
	<script src="/js/duoshuo-ua.js"></script>
	<script>var duoshuoQuery={short_name:"<%=theme.duoshuo%>",myIds:[9960671]};</script>

	<script type="text/javascript">
	var duoshuoQuery = {short_name:"<%=theme.duoshuo%>"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
	<!-- 多说公共JS代码 end -->
</div>
